.grid-container {
  flex-grow: 1;
}

// mobile nav
.mobile-nav {
  .title-bar {
    border-bottom: 2px solid $primary;
    .title-bar-left{
      a {
        color: $primary;
        text-transform: uppercase;
        font-size: rem-calc(18);
        font-weight: 600;
        letter-spacing: .05rem;
      }
    }
  }
  .mobile-side-nav {
    background: $white;
    .mobile-side-nav-logo {
      padding: 1.5rem 0 1rem 0;
      margin: 0rem .8rem;
      border-bottom: 1px dashed $medium-gray;
    }
    .mobile-sive-nav-menu {
      li {
        text-transform: uppercase;
        font-size: rem-calc(12);
        letter-spacing: .05rem;
      }
      a {
        padding: .5rem .7rem;
        color: $primary;
      }
      a:hover {
        color: smart-scale($primary, 25%, 50%);
      }
      span {
        line-height: 2.1;
      }
    }
  }
}

// main nav
.main-nav {
  border-bottom: 2px solid $primary;
  .top-bar {
    .top-bar-left {
      li {
        color: $primary;
        text-transform: uppercase;
        font-size: rem-calc(20);
        font-weight: 600;
        letter-spacing: .05rem;
      }
    }
    .top-bar-right {
      li {
        text-transform: uppercase;
        font-size: rem-calc(13);
        font-weight: 600;
        letter-spacing: .05rem;
      }
      a {
        color: $medium-dark-gray;
      }
      a:hover {
        color: smart-scale($medium-dark-gray, 25%, 50%);
      }
    }
  }
}

// header showcase
.header-showcase {
  padding: 50px 0 35px 0;
  margin: 0;
  background: url("../img/showcase-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .header-showcase-title {
    padding: 0 0 20px 0;
    font-weight: 600;
    color: #8860d0;
    text-shadow: 1px 1px 1px $black;
    letter-spacing: .1rem;
    line-height: 1.2;
  }
  .header-showcase-slide-title {
    padding: 0 0 5px 0;
    margin: 0;
    text-shadow: 0px 0px 1px $primary;
    font-weight: 600;
    color: $white;
    letter-spacing: .1rem;
  }
  .header-showcase-slide-content {
    padding: 0 0 30px 0;
    margin: 0;
    font-weight: 600;
    color: $white;
    letter-spacing: .1rem;
    line-height: 1.4;
  }
  .header-showcase-slide-action {
    margin: 0;
    background: none;
    border: 2px solid #8860d0;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
  }
}
