.grid-container {
  flex-grow: 1;
}

// mobile nav
.mobile-nav {
  .title-bar {
    .title-bar-left {
      a {
        color: $white;
        text-transform: uppercase;
        font-size: rem-calc(18);
        font-weight: 600;
        letter-spacing: .05rem;
      }
    }
  }

  .mobile-side-nav {
    background: #fff;

    .mobile-side-nav-logo {
      padding: 1.5rem 0 1rem 0;
      margin: 0rem .8rem;
      border-bottom: 1px dashed $medium-light-gray;
    }

    .mobile-sive-nav-menu {
      padding: 0;
      margin: 0;

      li {
        text-transform: uppercase;
        font-size: rem-calc(12);
        letter-spacing: .05rem;
      }

      a {
        padding: .5rem .7rem;
        color: $medium-gray;
      }

      a:hover {
        background: $light-gray;
      color: $medium-gray;
      }

      span {
        line-height: 2.1;
      }
    }
  }
}

// main nav
.main-nav {

  .top-bar {

    .top-bar-left {
      li {
        text-transform: uppercase;
        font-size: rem-calc(12);
        font-weight: 600;
        letter-spacing: .05rem;

      }

      a {
        color: $white;
      }

      .title-bar-title {
        color: $white;
        text-transform: uppercase;
        font-size: rem-calc(20);
        font-weight: 600;
        letter-spacing: .05rem;
      }
    }

    .top-bar-right {

      li {
        text-transform: uppercase;
        font-size: rem-calc(12);
        font-weight: 600;
        letter-spacing: .05rem;

      }

      a {
        color: $white;
      }
    }
  }
}

// main header
.main-header {
  padding: 20px 0 10px 0;
  margin: 0;
  background: url("../img/header-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .main-header-title {
    padding: 5px 0;
    font-weight: 600;
    font-size: rem-calc(20);
    color: $light-gray;
    letter-spacing: .1rem;
    line-height: 1.4;
  }

  .header-promo {
    padding: 10px 0 20px 0;
  }
}

// footer
.footer-top {
  padding: 0;
  margin: 0;
  background: $light-gray;

}

.footer-bot {
  padding: 15px 0;
  margin: 0;
  background: $dark-gray;

  .copyright {
    padding: 0;
    margin: 0;
    color: $medium-gray;
    font-size: rem-calc(12);
    letter-spacing: .05rem;

    a {
      color: $medium-gray;
    }

    a:hover {
      color: $medium-light-gray;
    }
  }

  .all-rights-reserved {
    padding: 0;
    margin: 0;
    color: $medium-gray;
    font-size: rem-calc(12);
    letter-spacing: .05rem;

    a {
      color: $medium-gray;
    }

    a:hover {
      color: $medium-light-gray;
    }
  }
}
